.omicPrimaryIconColor {
    color:#727E8A;
}
.omicPrimaryTextColor {
    color:#B5BFC7
}
.omicTablePrimaryTextColor {
    color:#8D979F
}
.omicButtonPrimaryColor {
    color:#E4E9EA;
}
.omicEditorColor1 {
    color:#80B579;
}
.omicEditorColor2 {
color: #7B6DB2;
}
.omicEditorColor3 {
color: #80B579;
}
.omicEditorColor4 {
color: #C8A75A;
}
.omicEditorColor5 {
color: #83A2E3;
}
.omicEditorColor6 {
color: #955574;
}